table
{
  
    table-layout: auto;	
    width: 80%;
	height: 80%;
}
	td
	{	
		background: #ffcccc;
		box-shadow: 1px 1px 0.5px grey;
        width: 80%;
	    height: 80%;
        
	}
	th {	
        color:white;
        width: 80%;
	    height: 80%; 
   
	}
	.liquide
	{	
		box-shadow: 1px 1px 0.5px grey;
		background: #b3ecff;
        width: 80%;
	    height: 80%;
	}
	.gaz {
		box-shadow: 1px 1px 0.5px grey;
		background: #ffff99;
        width: 80%;
	    height: 80%;
		}
	.eau
	{
		box-shadow: 1px 1px 0.5px grey;
		background: #e0e0eb;
        width: 80%;
	    height: 80%; 
	}
	.ab {
		font: 1vw,'Fira Sans', sans-serif;
		text-align:left;
        bottom = 0;
        width: 80%;
	    height: 80%; 
		}

	.cen
	{
		text-align :center;
        font-weight:bold;
        width: 80%;
	    height: 80%; 
	}
	.mm 
	{
		font: 01vw, 'Fira Sans', sans-serif;
		text-align:right;
        top = 0;
        width: 80%;
	    height: 80%; 
	}
	.val
	{
		color:red;
		font-weight:bold;
		background:none;
        box-shadow:none;
        width: 80%;
	    height: 80%; 
	}
	.val_l
	{		
		background:none;	
		box-shadow:none;
		color:red;
		font-weight:bold;
		font-size: 1vw;
        text-align:center;
        width: 80%;
	    height: 80%; 
	}

	.bordure_vide
	{
		height:10px;
		background:none;
        box-shadow:none;
        width: 80%;
	    height: 80%; 
	}
	.texte
	{
		color:black;
		font-size:1vw;
		font-weight:normal;
        text-align:right;
        width: 80%;
	    height: 80%; 
	}
	.lanthanides
	{
		box-shadow: 1px 1px 0.5px grey;
		background: #ecffb3;
        width: 80%;
	    height: 80%; 
	}
	.actinides
	{
		box-shadow: 1px 1px 0.5px grey;
		background: #e6e6ff;
        width: 80%;
	    height: 80%; 
	}
	#lalu
	{
		text-align :center;
		font-weight:bold;
        font-size: 1vw;
        width: 80%;
	    height: 80%; 
	}