body {
	background-color:rgb(80,80,80);
	position: fixed;
}
/*---------------------------CLUSTER--------------------------------*/
#global {

	position: fixed ; 
	top: 320px; left: 350px; 
	box-shadow: 11px 11px 11px black
}

#cluster {	

	text-align:center;
	border-style: solid;
	border-width: 10px;
	border-radius: 7px;
	color: rgb(144,144,144);
}

/*---------------------------DAY OF 42--------------------------------*/
section {
	position: fixed; 
	top: 157px; left: 145px; 
	display: block;
	width: 1455px;
	height: 140px;
	background-color: rgb(144,144,144);
	border-radius: 10px;
	box-shadow: 11px 11px 11px black
}

#doft {
	text-align:bottom;
	border-style:none;
	background-size: auto 50%;
	background-repeat: no-repeat;
	width: 400px;
	border-radius: 10px;
}

/*------------------------RECTANGLE GAUCHE----------------------------*/
.rectangleg {
	position: fixed;
	top: 320px; left: 180px;	
	width:140px;
	height:430px;
	background-color: rgb(144,144,144);
	border-radius: 10px;
	box-shadow: 11px 11px 11px black
}

/*------------------------RECTANGLE DROITE----------------------------*/
.rectangled {
	position: fixed;
	top: 320px; left: 1425px;	
	width:140px;
	height:430px;
	background-color: rgb(144,144,144);
	border-radius: 10px;
	box-shadow: 11px 11px 11px black
}
/*------------------------RECTANGLE VERT----------------------------*/
.rectanglev {
	border-width: 0;
	color: #000;
	font: normal 18px/17px Tahoma, Verdana, Arial, Helvetica, sans-serif;

	letter-spacing: 1px;
	vertical-align: middle;
	position: fixed;
	top:830px; left: 110px;	
	width:520px;
	height:150px;
	background-color: rgb(140,253,142);
	border-radius: 10px;
	box-shadow: 11px 11px 11px black
}

/*----------------------------LOUPE---------------------------------*/
#loupe {
	position: fixed;
	top: 170px; left: 1310px;	
	background-color: none;
}

/*----------------------------ONGLETS--------------------------------*/
.actu {
	position: fixed;
	top: 169px; left: 1570px;	
	background-color: none;
	width: 20px;
	height: 20px;
	max-width: 100%;
	height: auto;
}

.close {
	position: fixed;
	top: 270px; left: 1570px;	
	background-color: none;
	width: 20px;
	height: 20px;
	max-width: 100%;
	height: auto;
}

.book {
	position: fixed;
	top: 335px; left: 1459px;	
	background-color: none;
	width: 75px;
	height: 75px;
	max-width: 100%;
	height: auto;
}

.towel {
	position: fixed;
	top: 450px; left: 1459px;	
	background-color: none;
	width: 75px;
	height: 75px;
	max-width: 100%;
	height: auto;
}


.brick {

	background-image: url("./resources/brick.jpg");
	width: 120px;
	height: 70px;
	position: fixed;
	top: 520px; left: 1435px;
}

.arrow {
	position: fixed;
	top: 335px; left: 210px;	
	background-color: none;
	width: 75px;
	height: 75px;
	max-width: 100%;
	height: auto;
}

.main {
	position: fixed;
	top: 420px; left: 210px;	
	background-color: none;
	width: 72px;
	height: 72px;
	max-width: 100%;
	height: auto;
}

.oeil {
	border-style: solid;
	border-width: 5px;
	border-color: red;
	border-radius : 5px;
	position: fixed;
	top: 500px; left: 210px;	
	background-color: none;
	width: 72px;
	height: 72px;
	max-width: 100%;
	height: auto;
}

.outil {
	position: fixed;
	top:585px; left: 210px;	
	background-color: none;
	width: 72px;
	height: 72px;
	max-width: 100%;
	height: auto;
}


.chaticon {
	position: fixed;
	top:660px; left: 210px;	
	background-color: none;
	width: 72px;
	height: 72px;
	max-width: 100%;
	height: auto;
}

/*----------------------------TEXTE---------------------------------*/
#enter {
	font: normal 35px/25px Georgia, URW Palladio L, serif;
	letter-spacing: 0.5px;
}
#textl {
	font: normal 17px/25px Verdana, serif;
	letter-spacing: 0.5px;
	font-style: normal;
	padding: 10px;
}

#text {
	font: italic 16px/25px Verdana, serif;
	letter-spacing: 0.5px;
	font-style: italic;
}

#bord {
	border: 3px inset;
}

#submit {
	background-color: rgb(243,241,242);
	border: 1px solid white;
	font-family: tahoma;
	font-size: 13px;
	font-weight: normal;
	color: black;
	border: 1px solid grey;
	letter-spacing: 1px;
}

#red {
	text-shadow: 5px 5px 5px red;
}
/*----------------------------TEXTE---------------------------------*/
.rect {
	width:140px;
	height:140px;
	background-color: rgb(144,144,144);
	border-radius: 10px;
	box-shadow: 11px 11px 11px black
}
